*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: 'https://media-cdn.tripadvisor.com/media/photo-m/1280/22/6c/d7/22/muhazi-flowers-beach.jpg'; */
    text-align: center;
    
    
}